
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.header-p{
  margin-top: 0;
  font-weight: 600;
  color: rgb(90, 89, 89);
}

/* MAIN___________________________________________________________________________________________________________________--- */

.search-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}


.input-search{
  background: url('../src/assets/icons/search.svg') no-repeat 10px center;
  font-weight: 600;
  color: black;
  background-size: 20px;
  width: 55%;
  margin: 20px auto;
  padding-left: 40px !important;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  display: block;
}

.button-settings{
  margin-right: 20px;
  background-color: rgb(239, 42, 57);
  background-size: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
}

.star{
  display: flex;
}

.star p{
  margin: 0;
  padding: 0;
}

.details_burger{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-sec{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 40%;
  margin: 10px;
}

.products-sec{
  max-width: 395px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.burger-img{
  padding: 0 10px ;
  max-height: 127px;
}

.title_burger{
  margin: 5px 0 0 0;
}

.p_burger{
  margin: 5px 0 10px 0;
  color: rgb(90, 89, 89);
}

.like-btn{
  background-color: white;
  background-size: 20px;
  width: 40px;
  height: 40px;
  border: none;
}

.nav{
  display: flex;
  justify-content: space-around;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  padding: 20px 0;
  z-index: 100;
  background-color: rgb(239, 42, 57);
}

.plus-div{
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  border: 10px solid white;
}

.link-plus{
  background-color: rgb(239, 42, 57);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.57);
}

/*ABOUT PAGE____________________________________________________________________________________________________________--- */


.search-btn{
  background-color: white;
  border: none;
}

.search-svg{
  width: 20px;
  height: 20px;
}

.count{
  background-color: rgb(239, 42, 57);
  border-radius: 20%;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.portion{
  font-weight: 600;
}

.counter-portion{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.configurations{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}


.green{
  position: absolute;
  color: green;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
}

.red{
  position: absolute;
  color: red;
  font-weight: 600;
  font-size: 14px;
  margin-top: 20px;
  margin-right: 120px;
}

.input-range{
  margin-bottom: 20px;
  width: 90%;
}

.input-range {
  -webkit-appearance: none;
  appearance: none;
  flex: 1;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, rgb(239, 42, 57) 50%, #eee 50%);
  outline: none;
  transition: background 0.3s;
}

.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgb(239, 42, 57);
  border: 3px solid white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}

.input-range::-moz-range-thumb {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: rgb(239, 42, 57);
  border: 3px solid white;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
}


.configuration{
  width: 45%;
}

.configuration-portion{
  width: 30%;
}

.portion-h5{
  margin-bottom: 10px;
}

.footer-btn-pris{
  padding: 20px;
  background-color: rgb(239, 42, 57);
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
}

.footer-btn-order{
  padding: 20px 40px;
  background-color: rgb(60, 47, 47);
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-btn-sec{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

/*PROFIL PAGE____________________________________________________________________________________________________________--- */


.profil-header{
  background-color: rgb(239, 42, 57);
}

.main-profil{
  background-color: rgb(239, 42, 57);
  padding-top: 100px;
}

.profil-sec{
  background-color: white;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profil-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  padding: 5px;
  overflow: hidden;
}

.input-profil{
  margin: 20px;
  border: 3px solid rgb(209, 209, 209) ;
  border-radius: 12px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
}

.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  position: absolute;
  top: 8px;
  left: 30px;
  background: white;
  padding: 0 5px;
  font-size: 14px;
  color: gray;
  z-index: 1;
}

.left-arrow{
  filter: brightness(0) invert(1);
}

.footer-btn-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px 30px;
  background-color: #3C2F2F;
  border: none;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 40px 0;
}

.footer-btn-log-out{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  background-color: white;
  border: none;
  color: rgb(239, 42, 57);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0 40px 0;
  border: 3px solid rgb(239, 42, 57);
}

.profil-btn-footer{
  margin-top: 150px;
}

.profil-img{
  margin-top: -100px;
}




